
.gbw-write-wrapper {
  max-width: 800px;
  margin: 30px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  font-family: 'Segoe UI', sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.gbw-input-form label {
  font-weight: 500;
  margin: 6px 0 4px;
  display: block;
}

.gbw-input-form input,
.gbw-input-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 16px;
}

textarea {
  resize: none;
  height: 200px;
}

.image-preview-area {
  margin: 20px 0;
}

.image-preview-area h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.image-preview-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.image-preview-wrapper img {
  max-height: 160px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.remove-image-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 14px;
}

.form-bottom {
  margin-top: 24px;
}

.gbw-upload-button {
  background-color: #2668A7;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;
}

.gbw-button-area {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.gbw-form-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.gbw-hotdeal-check {
  display: flex;
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  gap:2px;
  
}


.gbw-button-right {
  display: flex;
  align-items: center;
  gap: 10px;
}



.gbw-submit-button,
.gbw-cancel-button {
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.gbw-submit-button {
  background-color: #28c840;
  color: white;
}

.gbw-cancel-button {
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
}
