.comment-meta {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  justify-content: space-between;
}

.comment-icon-buttons {
  margin-left: auto;
  display: flex;
  gap: 6px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
  transition: opacity 0.2s ease;
}

.icon-btn:hover {
  opacity: 0.7;
}

.comment-edit-textarea{
width: 500px;
height: auto;
  
}

.comment-pagination {
  margin-top: 30px;
  text-align: center;
}

.comment-pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #ddd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-pagination button.active {
  background-color: #2668A7;
  color: white;
}
