.Pageinfo {
    width: 100%;
    text-align: center;
    opacity: 70%;
    margin-top: 0;
    padding-top: 20px;
}


.Pageinfo h2 {
    margin: 0;
    /* 👈 h2의 기본 마진 제거 */
}


.HotItemlist {
    width: 100%;
    display: flex;
    justify-content: center;


}

/* 물품 항목 칸 전체 박스 */
.HotItemlist-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    /* 💡 여백 조절 */
    max-width: 1400px;
    /* 💡 최대 폭 제한 */
    width: 100%;
}   

/* 물품 항목 칸 */
.HotItem {
    width: 250px;
    height: 420px;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}



.search-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    /* 검색창 위쪽 살짝 띄우기 */
    margin-bottom: 20px;
    /* 아래 콘텐츠와 자연스럽게 간격 */
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.search-input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-button {
    padding: 8px 16px;
    background-color: #2668A7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #1b4f7e;
}

.item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.HotItem h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
}

.HotItem p {
    margin: 8px 0;
    font-weight: bold;
    text-align: center;
}

.apply-button {
    margin-top: auto;
    padding: 10px;
    background-color: #2668A7;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.apply-button:hover {
    background-color: #1b4f7e;
}


.HotItem img {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    object-fit: cover;

}